<form action="/covidcanhan" method="POST">
  <h3>Tên Nhân Viên: <%= name %></h3>
  <p>
    - Đăng ký thông tin thân nhiệt (kèm ngày, giờ đăng ký). <br/>
    - Đăng ký thông tin tiêm vaccine (mũi 1 loại gì ngày nào, mũi 2 loại gì ngày nào).<br/>    
    - Đăng ký thông tin dương tính với covid.<br/>
  </p>
  <hr />
  <div class="row container">
    <form action="/covidcanhan" method="POST">    
      
      <div style="text-align:left; padding: 5px" class="col-8 centered">
        <label>Thân nhiệt</label>
        <input required style="margin: 5px;" type="text" name='temperature' class="form-control" placeholder="độ C">
        <label>Lần tiêm đầu</label>
        <input required style="margin: 5px;" type="text" name='firstTimeType' class="form-control" placeholder="loại vaccine">
        <input required style="margin: 5px;" type="date" name='firstTimeDate' class="form-control" >
        <label>Lần tiêm thứ hai</label>
        <input required style="margin: 5px;" type="text" name='secondTimeType' class="form-control" placeholder="loại vaccine">
        <input required style="margin: 5px;" type="date" name='secondTimeDate' class="form-control" >
        <label>Tình trạng</label>
        <select name="status" required style="margin: 5px;" class="form-control">
          <option value="positive">dương tính</option>
          <option value="negative">âm tính</option>
        </select>
      </div>
      <div class="col-4 centered">
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</form>
