<script src="/js/main.js"></script>
</body>
<footer class="p-5 mt-3 justify-content-center" style="background-color: #1fad9d">
    <div class="row">
        <div class="col p-3">
            <h4>Thông tin ứng dụng</h4>
            <p>
                <i class="fa-brands fa-uncharted"></i> <strong>Application</strong>: Ứng dụng quản lý nhân sự <br>
                <i class="fa-solid fa-address-card"></i> <strong>Address</strong>: 123 Yên Lãng, Hà Nội <br>
                <i class="fa-solid fa-at"></i> <strong>Email</strong>: test@example.com <br>
                <i class="fa-solid fa-phone"></i> <strong>Phone</strong>: 123 456 789 <br>
                <i class="fa-brands fa-skype"></i><strong>Skype</strong>: test@example.com <br>
            </p>
        </div>
        <div class="col p-3">  
            <h4>Social networks</h4>          
            <i class="fa-brands fa-facebook-f fa-2xl"></i>
            <i class="fa-brands fa-youtube fa-2xl"></i>
            <i class="fa-brands fa-twitter fa-2xl"></i>
            <i class="fa-brands fa-skype fa-2xl"></i>

        </div>       
    </div>
</footer>
</html>