<div class="container">
    <div>
        <p>Trạng thái: <% if(working) { %>Đang làm việc<% } else {%>Không làm việc<% } %></p>
    </div>
    <div class="d-flex justify-content-center gap-3">
        <div>
            <form action="/diemdanh" method="GET">
                <button <% if(working) { %> disabled <% } %>  class="btn">Điểm danh</button>
            </form>
        </div>
        <div>
            <form action="/kethuc" method="GET">
                <button <% if(!working) { %> disabled <% } %> class="btn">Kết thúc làm việc</button>
            </form>
        </div>
        <div>
            <form action="/nghiphep" method="GET">
                <button class="btn">Nghỉ phép</button>
            </form>
        </div>
       
    </div>
</div>