<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>

            <main>
                <h1>Điểm Danh</h1>
                <hr>
                <%- include('./includes/diemDanh/controlbar.ejs') %>
                <hr>
                
            </main>
            <%- include('./includes/end.ejs') %>